.homeContainer {
    padding-top: 150px;
}

.bird {
    align-items: center;
}

.tweet {
    color: #1d04ff91;
    top: auto;

}

.app {
    color: rgb(121, 118, 172);
}

.ownerInfo{
    color:rgb(207, 87, 211);
    font-size: small;
    margin-top: 20%;
}
