@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,900&display=swap');


span {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  color: #cf1b1b;
  font-size: 50px;
  letter-spacing: 8px;
  cursor: pointer;
}

 

span:hover:before {
  top: 10px;
  left: 10px;
}

span:hover:after {
  top: -10px;
  left: -10px;
} 

